/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-container {
    background-color: #011936;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .auth-container h1 {
    color: #ED254E;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container label {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .auth-container input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #465362;
    width: 100%;
  }
  
  .auth-container input::placeholder {
    color: #999;
  }
  
  .auth-container button {
    background-color: #ED254E;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-container button:hover {
    background-color: #465362;
  }
  
  .auth-container p {
    color: #fff;
    margin-top: 20px;
  }
  
  .auth-container a {
    color: #ED254E;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  