body {
    font-family: Arial, sans-serif;
    color: #465362;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #011936;
    color: #ED254E;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ED254E;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #011936;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #011936;
    color: #ED254E;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
